body {
    margin-top: 10px;
    margin-right: 10px;
}
.nav-link {
    border-right: 1px solid lightgrey;
}

.form-control {
    margin-left: 10px;
}

.nav-first {
    color: #5C5C5C;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-first-button {
    color: white;
    font-weight: 100;
}

.new-header {
border-bottom: 1px solid #d5d5d5;
padding-bottom: 5px;
}